@media screen and (max-width: 1400px) {
    #profile {
      height: 83vh;
      margin-bottom: 6rem;
    }
    .about-containers {
      flex-wrap: wrap;
    }
    #contact,
    #projects {
      height: fit-content;
    }
  }
  
  @media screen and (max-width: 1200px) {
    #desktop-nav {
      display: none;
    }
    #mobile-nav {
      display: flex;
    }
    #experience,
    .experience-details-container {
      margin-top: 2rem;
    }
    #profile,
    .section-container {
      display: block;
    }
    .arrow {
      display: none;
    }
    section,
    .section-container {
      height: fit-content;
    }
    section {
      margin: 0 5%;
    }
    .section__pic-container {
      width: 275px;
      height: 275px;
      margin: 0 auto 2rem;
    }
    .about-containers {
      margin-top: 0;
    }
  }
  
  @media screen and (max-width: 600px) {
    #contact,
    footer {
      height: 40vh;
    }
    #profile {
      height: 83vh;
      margin-bottom: 0;
    }
    article {
      font-size: 1rem;
    }
    footer nav {
      height: fit-content;
      margin-bottom: 2rem;
    }
    .about-containers,
    .contact-info-upper-container,
    .btn-container {
      flex-wrap: wrap;
    }
    .contact-info-container {
      margin: 0;
    }
    .contact-info-container p,
    .nav-links li a {
      font-size: 1rem;
    }
    .experience-sub-title {
      font-size: 1.25rem;
    }
    .logo {
      font-size: 1.5rem;
    }
    .nav-links {
      flex-direction: column;
      gap: 0.5rem;
      text-align: center;
    }
    .section__pic-container {
      width: auto;
      height: 46vw;
      justify-content: center;
    }
    .section__text__p2 {
      font-size: 1.25rem;
    }
    .title {
      font-size: 2rem;
    }
    .text-container {
      text-align: justify;
    }

    section {
      margin: 0 1rem; /* Reduce side margins */
      padding-top: 2rem; /* Reduce top padding */
    }
    .section-container {
        gap: 2rem; /* Reduce gap between elements */
    }
    .section__text__p2 {
      font-size: 1.25rem; /* Adjust subtitle size */
    }
    .text-container {
        font-size: 1rem; /* Adjust paragraph size */
        line-height: 1.5; /* Improve readability */

    /* Project cards */
    .project-card {
      padding: 1rem;
      gap: 10px;
    }
    .project-image {
        height: 300px; /* Reduce image height for smaller screens */
    }
    .project-card-title {
        font-size: 1.5rem;
    }
    .project-description {
        font-size: 1rem;
    }

    .btn, .project-card, .icon {
        transition: all 0.3s ease-in-out;
    }

<<<<<<< HEAD
=======
  }
>>>>>>> b679bf59fd4fad731d6b4dbe1d32517381fd97ff
  }
  }